<div class="card-group cards-container">
    <div class="card">
      <img class="card-img-top" src="../../../assets/cisco.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">CCNA Introduction to Networks</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/cisco.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">CCNA switching routing and wireless essentials</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/cisco.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">CyberOps</h5>
      </div>
    </div>
</div>

<div class="card-group cards-container">
    <div class="card">
      <img class="card-img-top" src="../../../assets/cisco.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">DevNet</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/azure.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Azure Fundamentals</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/azure.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Azure AI fundamentals</h5>
      </div>
    </div>
</div>

<div class="card-group cards-container">
    <div class="card">
      <img class="card-img-top" src="../../../assets/azure.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Azure Security, Compliance and Identity Fundamentals</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/azure.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Microsoft 365 Fundamentals</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/huawei.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">HCIA Cloud</h5>
      </div>
    </div>
</div>