<h3 class="text-primary">Submit Your Feedback</h3>

<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Name</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="your name">

      <label for="exampleFormControlInput2">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select your satisfaction level</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2">Which pages do you like</label>
      <select multiple class="form-control" id="exampleFormControlSelect2">
        <option>About Me</option>
        <option>My Education</option>
        <option>My Skills</option>
        <option>My Projects</option>
        <option>My Certificates</option>
        <option>Contact Me</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">I'll be happy to give me your feedback :)</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Your feedback goes here ! ..."></textarea>
    </div>

    <button type="button" class="btn btn-primary">Submit</button>
  </form>