<div class="card bg-dark text-white container">
    <img class="card-img" src="../../../assets/cs.jpg" alt="Card image">
    <div class="card-img-overlay">
      <h5 class="card-title text-warning">Cybersecurity</h5>
      <h6>
        Authentication and Authorization: OAuth 2.0 | OpenID Connect<br>
        Operating Systems: Windows | Linux<br>
        Network Mapping: Nmap<br>
        Command and Control: Metasploit<br>
        Password Cracking & Brute-Force: Hydra<br>
        Network Analysis: Wireshark<br>
        Web Penetration Test: Burp Suite<br>
        Mechanisms: Firewall | IDS | IPS | VPN<br>
        Windows Active Directory
      </h6>
    </div>
</div>

<div class="card bg-dark text-white container">
    <img class="card-img" src="../../../assets/wd.jpg" alt="Card image">
    <div class="card-img-overlay">
      <h5 class="card-title text-warning">Web Development</h5>
      <h6>
        HTML<br>
        CSS<br>
        Angular<br>
        React JS<br>
        Express JS
      </h6>
    </div>
</div>

<div class="card bg-dark text-white container">
    <img class="card-img" src="../../../assets/do.jpg" alt="Card image">
    <div class="card-img-overlay">
      <h5 class="card-title text-warning">DevOps & Infrastructure</h5>
      <h6>
        Containerization: Docker<br>
        Orchestration: Kubernetes<br>
        Automation: Jenkins<br>
        Cloud Computing: Microsoft Azure & Huawei
      </h6>
    </div>
</div>

<div class="card bg-dark text-white container">
    <img class="card-img" src="../../../assets/coding.webp" alt="Card image">
    <div class="card-img-overlay">
      <h5 class="card-title text-warning">Programming Languages</h5>
      <h6>
        Python<br>
        Java<br>
        JavaScript<br>
      </h6>
    </div>
</div>