<footer class="bg-primary text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <h5>Reach me on social media</h5>
      <section class="mb-4">
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/maiez-ben-romdhane-82b32a219/" target="_blank" role="button">
            <img src="../../../assets/linkedin.svg" alt="">
        </a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/MeizBR" target="_blank" role="button">
            <img src="../../../assets/github.svg" alt="">
        </a>
  
        <!-- Email -->
        <a class="btn btn-outline-light btn-floating m-1" href="mailto:mayezbr9@gmail.com" role="button">
            <img src="../../../assets/email.svg" alt="">
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">Maiez Ben Romdhane</a>
    </div>
    <!-- Copyright -->
  </footer>