<div class="card-deck container">
    <div class="card element">
      <img class="card-img-top" src="../../../assets/essths.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-primary">L'École supérieure des sciences et de la technologie de Hammam Sousse</h5>
        <p class="card-text">L'École supérieure des sciences et de la technologie de Hammam Sousse (arabe : المدرسة العليا للعلوم والتكنولوجيا بحمام سوسة) ou ESSTHS est un établissement universitaire tunisien basé à Hammam Sousse.

        Rattaché à l'université de Sousse, il est créé en vertu du décret n°2006-1587 du 6 juin 2006 pour enrichir le tissu universitaire de l'agglomération de Sousse.</p>
      </div>
      <div class="card-footer">
        <h3><a href="https://essths.rnu.tn/public/" class="badge badge-primary">Visit Site</a></h3>
      </div>
    </div>
    <div class="card element">
      <img class="card-img-top" src="../../../assets/enetcom.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-primary">L'École nationale d'électronique et des télécommunications de Sfax</h5>
        <p class="card-text">L'École nationale d'électronique et des télécommunications de Sfax (arabe : المدرسة الوطنية للالكترونيك و الاتصالات بصفاقس) ou ENET'com est un établissement de l'enseignement supérieur tunisien basé au sein du pôle technologique de Sakiet Ezzit près de Sfax.

        L'ENET'com est fondée le 9 juillet 2002 sous le nom d’Institut supérieur d'électronique et de communication de Sfax et accueille en moyenne 300 étudiants par an1.</p>
      </div>
      <div class="card-footer">
        <h3><a href="https://enetcom.rnu.tn/fr" class="badge badge-primary">Visit Site</a></h3>
      </div>
    </div>
  </div>